.card {
  width: 457px;
  height: 279px;
  display: flex;
  flex-direction: row;
  white-space: wrap;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  border-radius: 0px;
}

.title {
  font-size: 20px;
  white-space: wrap;
  margin: 0 0 8px 0 !important;
}

.releaseDate {
  font-size: 12px;
  margin-bottom: 8px;
}

.overview {
  font-size: 12px;
  color: #000;
}

.meta {
  padding-top: -10px;
  height: 100%;
}

.description {
  height: 100%;
}
